{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<h4> Input Data </h4>
<span>
    Menggunakan format data .csv (Comma-Seperated Values) yang dapat di download contohnya seperti ini <br/>
    <a href="/static/content/data2.csv" download="contoh_data.csv">Contoh Data</a> --
    <a href="/static/content/weight2.csv" download="contoh_weight.csv">Contoh Weight</a>
    (Kandidat Beasiswa berdasar Absen,Nilai,Sikap,Mampu(5 berarti kurang mampu))
</span>
<p>Jumlah Kireteria <b>harus sama</b> untuk Data dan Weight nya !</p>
<form method="POST" enctype="multipart/form-data">
    Data :
    <input type=file name=data accept=".csv" required></br>
    Weight :
    <input type=file name=weight accept=".csv" required></br>
    <input type=submit value=Upload>
</form>

{% if not upload %}
    <h4> DATA CONTOH - Kandidat Kreditor </h4>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Data</h3>
            <table border="1" width="100%" align="center">
                <thead>
                    <tr>
                        <th>
                            No.
                        </th>
                        {% for data in datas.data %}
                        <th>
                            {{ data }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in datas.data.iterrows() %}
                        {% if loop.index < 21 %}
                            <tr>
                                <td class="nama">
                                    {{ loop.index }}
                                </td>
                                <td class="nama">
                                    {{ value.0 }}
                                </td>
                                <td class="lain">
                                    {{ value.1 }}
                                </td>
                                <td class="lain">
                                    {{ value.2 }}
                                </td>
                                <td class="lain">
                                    {{ value.3 }}
                                </td>
                                <td class="lain">
                                    {{ value.4 }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if datas.data | length > 20 %}
                <span>... Dan seterusnya ...</span>
            {% endif %}
            <p>{{datas.data | length}} Data</p>
        </div>
        <div class="col-md-6">
            <h3>Weight</h3>
            <table border="1" width="100%" align="center">
                <thead>
                    <tr>
                        {% for data in datas.weight %}
                        <th>
                            {{ data }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in datas.weight.iterrows() %}
                    <tr>
                        <td class="nama">
                            {{ value.0 }}
                        </td>
                        <td class="lain">
                            {{ value.1 }}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Sorted</h3>
            <table border="1" width="100%" align="center">
                <thead>
                    <tr>
                        <th>
                            No.
                        </th>
                        {% for data in datas.sorted %}
                        <th>
                            {{ data }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in datas.sorted.iterrows() %}
                        {% if loop.index < 101 %}
                            <tr {% if loop.index == 1 %}
                                    style="font-size: larger;"
                                {% elif loop.index == 2 %}
                                    style="font-size: large;"
                                {% elif loop.index == 3 %}
                                    style="font-size: medium;"
                                {% endif %}>
                                <td class="nama">
                                    {{ loop.index }}
                                </td>
                                <td class="nama">
                                    {{ value.0 }}
                                </td>
                                <td class="lain">
                                    {{ value.1 }}
                                </td>
                                <td class="lain">
                                    {{ value.2 }}
                                </td>
                                <td class="lain">
                                    {{ value.3 }}
                                </td>
                                <td class="lain">
                                    {{ value.4 }}
                                </td>
                                <td class="lain">
                                    {{ value.5 }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% if datas.sorted | length > 100 %}
                <span>Hanya Menampilkan hingga 100 data.</span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
